.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.container-form .banner {
  width: 300px;
  display: none;
}

.img-logo img {
  width: 140px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  hsl(223 5% 20% / 70%);
  border-radius: 10px;
  width: 380px;
  height: 400px;
  justify-content: space-evenly;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.form-inputs input, .form-inputs button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 300px;
  font-size: 1rem;
}

.form-inputs button {
  background-color: #484295;
  color: #fff;
}

.error {
  color: red;
  text-align: center;
}

.form-inputs input::placeholder {
  text-align: center;
}

@media (min-width:820px) {
  .container-form .banner {
    width: 400px;
    display: block;
  }
}